.bgimgBottom {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

.colorbg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.mainBg {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  flex: auto;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-image: url(../images/BG.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  background-image: url(../images/BG2.jpg);
  background-size: 100% 100%;
}
