.bgimgBottom {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

.colorbg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.mainBg {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-image: url(../images/BG.jpg), url(../images/red-bg.png);
  background-position: top, bottom;
  background-repeat: repeat-y, repeat-y;
  background-size: cover, cover;
}
